div.bbs_write input,
div.bbs_write button {
  width: 80%;
  margin: 5px auto;
  outline: none;
  border: none;
  border-radius: 5px;
}

div.bbs_write input {
  display: inline-block;
}

input:hover {
  background-color: black;
}

input:focus {
  background-color: black;
}

div.bbs_write button {
  background-color: black;
  color: white;
  padding: 1rem;
}

div.bbs_write button:hover {
  box-shadow: 2px 1px 2px black;
}
